@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";

@import "_app.css";
@import "_scrollbars.css";
@import "_table.css";

.input-errors{
    margin-bottom: 2rem;
    color: red;
}

.debug{
    border: 1px solid red;
}